/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2ca3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 0;
    font-size: 18px;
}

nav {
    background-color: #1f2ca3;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #1f2ca3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1f2ca3;
    color: white;
}
