body {
    background-color: #1f2ca3;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; /* Alineación en el centro */
    font-size: 16px; /* Tamaño de fuente uniforme */
    font-weight: bold; /* Fuente en negrita */
}

/* Estilos para hacer la página responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    nav {
        padding: 5px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 14px;
    }

    main {
        padding: 10px;
    }
  }
