/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2ca3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    margin: 0;
    font-size: 18px;
}

nav {
    background-color: #1f2ca3;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #1f2ca3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

/* Estilos para hacer la página responsive para móviles */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    nav {
        padding: 5px 0;
    }

    button {
        padding: 5px 10px;
        font-size: 14px;
    }

    main {
        padding: 10px;
    }

    /* Ajustar el ancho del contenedor al 100% */
    .container {
        width: 100%;
    }

    /* Hacer la tabla responsive */
    table {
        width: 100%;
    }

    td {
        padding: 8px;
        font-size: 14px;
    }
}
